In [0]:
import pandas as pd

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

#modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [0]:
header_list = [ 'pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi', 'dpf', 'age', 'diabetes']
df = pd.read_csv("diabetes.csv")
df.columns = header_list

In [63]:
df.head()

   pregnancies  glucose  diastolic  triceps  ...   bmi    dpf  age  diabetes
0            6      148         72       35  ...  33.6  0.627   50         1
1            1       85         66       29  ...  26.6  0.351   31         0
2            8      183         64        0  ...  23.3  0.672   32         1
3            1       89         66       23  ...  28.1  0.167   21         0
4            0      137         40       35  ...  43.1  2.288   33         1

[5 rows x 9 columns]

In [64]:
print(df.shape)

(768, 9)

In [65]:
df.describe().transpose()

             count        mean         std  ...       50%        75%     max
pregnancies  768.0    3.845052    3.369578  ...    3.0000    6.00000   17.00
glucose      768.0  120.894531   31.972618  ...  117.0000  140.25000  199.00
diastolic    768.0   69.105469   19.355807  ...   72.0000   80.00000  122.00
triceps      768.0   20.536458   15.952218  ...   23.0000   32.00000   99.00
insulin      768.0   79.799479  115.244002  ...   30.5000  127.25000  846.00
bmi          768.0   31.992578    7.884160  ...   32.0000   36.60000   67.10
dpf          768.0    0.471876    0.331329  ...    0.3725    0.62625    2.42
age          768.0   33.240885   11.760232  ...   29.0000   41.00000   81.00
diabetes     768.0    0.348958    0.476951  ...    0.0000    1.00000    1.00

[9 rows x 8 columns]

In [66]:
target_column = ['diabetes'] 
predictors = list(set(list(df.columns))-set(target_column))
df[predictors] = df[predictors]/df[predictors].max()
df.describe().transpose()

             count      mean       std  ...       50%       75%  max
pregnancies  768.0  0.226180  0.198210  ...  0.176471  0.352941  1.0
glucose      768.0  0.607510  0.160666  ...  0.587940  0.704774  1.0
diastolic    768.0  0.566438  0.158654  ...  0.590164  0.655738  1.0
triceps      768.0  0.207439  0.161134  ...  0.232323  0.323232  1.0
insulin      768.0  0.094326  0.136222  ...  0.036052  0.150414  1.0
bmi          768.0  0.476790  0.117499  ...  0.476900  0.545455  1.0
dpf          768.0  0.194990  0.136913  ...  0.153926  0.258781  1.0
age          768.0  0.410381  0.145188  ...  0.358025  0.506173  1.0
diabetes     768.0  0.348958  0.476951  ...  0.000000  1.000000  1.0

[9 rows x 8 columns]

In [67]:
X = df[predictors].values
y = df[target_column].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(537, 8)
(231, 8)

In [68]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(8, 8, 8), activation= 'relu', solver = 'adam', max_iter=500)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [69]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_train,predict_train))
print(classification_report(y_train,predict_train))

[[319  39]
 [ 76 103]]
              precision    recall  f1-score   support

           0       0.81      0.89      0.85       358
           1       0.73      0.58      0.64       179

    accuracy                           0.79       537
   macro avg       0.77      0.73      0.74       537
weighted avg       0.78      0.79      0.78       537

In [70]:
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))

[[124  18]
 [ 40  49]]
              precision    recall  f1-score   support

           0       0.76      0.87      0.81       142
           1       0.73      0.55      0.63        89

    accuracy                           0.75       231
   macro avg       0.74      0.71      0.72       231
weighted avg       0.75      0.75      0.74       231